/* background behind the logo*/
#header {
	background: #222222;
	border-color: #2780e3;
}

small {
	font-size: 0.8em;
}
#header a {
	color: white;
}

/* Background color of the menu */
#sidebar {
	background-color: #324376;
}

/* Background color of the menu, when clicked */
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
	background-color: #222222;
}
